---
title: Code Of Conduct

innerPage: true

headerNav: [
  {
    title: 'Conference info',
    link: '/'
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="inner-page react-jobs">
	{% include "partials/_header.html" %}
	{% include "partials/_coc-intro.html" %}
  <section class="section section--inner">
    <div class="section__content">
	    {% include "partials/_coc-info.html" %}
    </div>
  </section>
	{% include "partials/_footer.html" %}
</div>
{% endblock %}
