---
title: React Day Berlin, December 6, 2019
logoPathToIntro: true

headerNav: [
  {
    title: 'First speakers',
    link: '#speakers',
    scroll: true
  },
  {
    title: 'Location',
    link: '#location',
    scroll: true
  },
  {
    title: 'Workshops',
    link: '#workshops',
    scroll: true
  },
  {
    title: 'Sponsors',
    link: '#sponsors',
    scroll: true
  },
  {
    title: '2018',
    link: '/2018'
  }
]

speakers: [{
    mod: 'speaker--green',
    avatar: 'speakers/max.jpg',
    label: 'Keynote',
    twitter: 'https://twitter.com/mxstbr',
    github: 'https://github.com/mxstbr',
    name: 'Max Stoiber',
    company: 'GitHub, Austria',
    text: 'Max is the technical cofounder of Spectrum.chat, the community platform of the future. He also makes styled-components, react-boilerplate, micro-analytics and a bunch of other open source projects and he co-organises the ReactVienna meetup. He loves to travel, to brew rad coffee and to ski beautiful mountains.'
  },{
    mod: 'speaker--green',
    avatar: 'speakers/narendra.jpg',
    label: 'React Advanced',
    twitter: 'https://twitter.com/narendra_shetty',
    github: 'https://github.com/narendrashetty',
    name: 'Narendra Shetty',
    company: 'Twilio, UK',
    text: 'Narendra works at Twilio as Senior Software Engineer. He is working on building Twilio Flex which is a programmable UI product. Previously worked at Booking.com.'
  }, {
    mod: 'speaker--red',
    avatar: 'speakers/elizabet.jpg',
    label: 'Graphics',
    twitter: 'https://twitter.com/miuki_miu',
    github: 'https://github.com/miukimiu',
    name: 'Elizabet Oliveira',
    company: 'Optum, Ireland',
    text: 'Elizabet Oliveira is a UX/UI Designer & Developer from Lisbon currently based in Dublin. She created a project called Cassette Tape, a Google Chrome experiment that explored the web audio API, which she presented at Google I/0 Dublin in 2016. She built and maintains the React-Kawaii library. This library won the award for Fun Side Project of the Year during React OS Awards 2018!'
  },{
    mod: 'speaker--blue',
    avatar: 'speakers/evan.jpg',
    label: 'React Native',
    twitter: 'https://twitter.com/baconbrix',
    github: 'https://github.com/EvanBacon',
    name: 'Evan Bacon',
    company: 'Expo, USA',
    text: 'Sometimes Lego Artist, working at Expo (Web, Bluetooth, AR, Gaming, and videos) and React Native (for web) PWAs.'
  },{
    mod: 'speaker--darkred',
    avatar: 'speakers/manjula.jpg',
    label: 'GraphQL',
    twitter: 'https://twitter.com/manjula_dube',
    github: 'https://github.com/manjula91',
    name: 'Manjula Dube',
    company: 'N26, Germany',
    text: 'Manjula loves contributing to OSS in her free time. She loves teaching and believes it is best way to learn more and more. She is one of the organisers for React India.'
  },{
    avatar: 'speakers/kurtis.jpg',
    mod: 'speaker--blue',
    label: 'React Native',
    twitter: 'https://twitter.com/kurtiskemple',
    github: 'https://github.com/kkemple',
    name: 'Kurtis Kemple',
    company: 'AWS, USA',
    text: 'Web / Mobile / GraphQL enthusiast. DevRel at Amazon AWS. Co-organizer of NYC GraphQL meetup.'
  },{
    mod: 'speaker--violet',
    avatar: 'speakers/jessica.jpg',
    label: 'Performance',
    twitter: 'https://twitter.com/JESSICALEACH6',
    github: 'https://github.com/JESSICAML',
    name: 'Jessica Leach',
    company: 'FutureLearn, UK',
    text: '"Jessica is a React developer from the UK. She works for FutureLearn, a platform which makes university education accessible to all. She made a transition into development after taking part in Rails Girls Summer of Code and she has also built an open source project, ScienceMotions, which teaches high school-level science with animation.'
  },{
    mod: 'speaker--yellow',
    avatar: 'speakers/kitze.jpg',
    label: 'Hooks',
    twitter: 'https://twitter.com/thekitze',
    github: 'https://github.com/kitze',
    name: 'Kitze',
    company: 'ReactAcademy, Poland',
    text: 'Teaching React Javascript at <a href="https://www.reactacademy.io" target="_blank">React Academy</a>.
  Cares about open source, made and maintains <a href="http://sizzy.co" target="_blank">sizzy.co</a>, <a href="https://github.com/kitze/custom-react-scripts" target="_blank">custom-react-scripts</a>, and
  <a href="https://github.com/kitze/mobx-router" target="_blank">mobx-router</a>. He had the chance to
  work and experiment with a variety of languages and frameworks.'
  }, {
    mod: 'speaker--light-green',
    avatar: 'speakers/tejas.jpg',
    label: 'serverless',
    twitter: 'https://twitter.com/tejaskumar_',
    github: 'https://github.com/TejasQ',
    name: 'Tejas Kumar',
    company: 'Contiamo, Germany',
    text: 'Tejas enjoys people, code, and talking about code to people. Having begun coding at age 8, today Tejas travels around the world, encouraging, educating and empowering developers in the web development community.'
  }, {
    mod: 'speaker--yellow',
    avatar: 'speakers/alex.jpg',
    label: 'Testing',
    twitter: 'https://twitter.com/alex_lobera',
    github: 'https://github.com/alexlbr',
    name: 'Alex Lobera',
    company: 'React GraphQL Academy, UK',
    text: 'Founder at React GraphQL Academy and LeanJS. Developer and Coach passionate about JavaScript, React and GraphQL. Organizer of the JavaScript London Meetup and other popular meetups in the EU.'
  }, {
    mod: 'speaker--blue',
    avatar: 'speakers/catalin.jpg',
    label: 'React Native',
    twitter: 'https://twitter.com/mironcatalin',
    github: 'https://github.com/catalinmiron',
    name: 'Catalin Miron',
    company: 'Skype, Czech Republic',
    text: 'React, React Native, GraphQL and OS enthusiast.'
  },
]

sponsors: [
  {
    title: 'Gold',
    list: [
      {
        alt: 'FocusReactive',
        img: 'gold/focus-reactive.png',
        link: 'https://focusreactive.com',
        width: '300'
      }
    ]
  },{
    title: 'Silver',
    list: [{
        alt: 'Interlink',
        img: 'silver/interlink.png',
        link: 'https://www.interlink.paris/',
        width: '280'
      },
      {
        alt: 'Formidable',
        img: 'silver/formidable.png',
        link: 'https://formidable.com/',
        width: '220'
      },{
        alt: 'Soshace',
        img: 'silver/soshace.png',
        link: 'https://soshace.com/',
        width: '200'
      },{
        alt: 'Tylermcginnis',
        img: 'silver/tylermcginnis.png',
        link: 'https://tylermcginnis.com/',
        width: '180'
      }
    ]
  },{
    title: 'Partners',
    list: [
      {
        alt: 'Web Engineering Duesseldorf',
        img: 'partner/wedusseldorf.png',
        link: 'https://www.meetup.com/Web-Engineering-Duesseldorf/',
        width: '220'
      },{
        alt: 'Framsia',
        img: 'partner/framsia.png',
        link: 'https://www.meetup.com/framsia/',
        width: '100'
      },{
        alt: 'React Finland',
        img: 'partner/react-finland.png',
        link: 'https://react-finland.fi/',
        width: '200'
      },{
        alt: 'Hackages',
        img: 'partner/hackages.png',
        link: 'https://hackages.io/',
        width: '240'
      },{
        alt: 'Workshop Summit',
        img: 'partner/workshopsummit.png',
        link: 'https://workshop-summit.com/',
        width: '180'
      },{
        alt: 'Queerjs',
        img: 'partner/queerjs.png',
        link: 'https://queerjs.com/',
        width: '100'
      },{
        alt: "Script'19",
        img: 'partner/script19.png',
        link: 'https://scriptconf.org/',
        width: '250'
      },{
        alt: 'Krakow JS',
        img: 'partner/krakowjs.png',
        link: 'https://www.meetup.com/KrakowJS/',
        width: '100'
      },{
        alt: 'Hamburg React',
        img: 'partner/reacthh.png',
        link: 'https://www.meetup.com/Hamburg-React-js-Meetup/',
        width: '230'
      },{
        alt: 'Coding Berlin',
        img: 'partner/codingberlin.png',
        link: 'https://www.meetup.com/ru-RU/CODING-BERLIN/',
        width: '120'
      },{
        alt: 'Piter JS',
        img: 'partner/piterjs.png',
        link: 'https://piterjs.org/',
        width: '100'
      },{
        alt: 'MSK VUE JS',
        img: 'partner/mskvuejs.png',
        link: 'https://msk-vuejs.ru/',
        width: '180'
      },{
        alt: 'Kitchen JS',
        img: 'partner/kitchenjs.png',
        link: 'https://t.me/js_kitchen',
        width: '100'
      },{
        alt: 'Fullstack Cluj',
        img: 'partner/fullstack.png',
        link: 'https://www.meetup.com/fullstack-cluj',
        width: '200'
      },{
        alt: 'React Cologne',
        img: 'partner/reactcologne.png',
        link: 'https://www.meetup.com/ru-RU/React-Cologne/',
        width: '100'
      },{
        alt: 'Frontendisti',
        img: 'partner/frontendisti.png',
        link: 'https://frontendisti.cz',
        width: '160'
      },{
        alt: 'React Sofia',
        img: 'partner/reactsofia.png?v2',
        link: 'http://react-not-a-conf.com',
        width: '120'
      },{
        alt: 'NišJS Meetup',
        img: 'partner/nisjs.png',
        link: 'https://www.meetup.com/NišJS-Meetup/',
        width: '140'
      },{
        alt: 'Warsaw TypeScript',
        img: 'partner/warsawts.png?v2',
        link: 'https://www.meetup.com/Warsaw-TypeScript/',
        width: '100'
      },{
        alt: 'TimJS',
        img: 'partner/timjs.png?v2',
        link: 'https://timjs.ro/',
        width: '200'
      },{
        alt: 'meet.js',
        img: 'partner/meetjs.png',
        link: 'https://www.facebook.com/meetjspl/',
        width: '200'
      },{
        alt: 'Istanbul Coders',
        img: 'partner/istanbulcoders.png',
        link: 'http://istanbulcoders.org/',
        width: '200'
      },{
        alt: 'Prague FullStack',
        img: 'partner/praguefullstack.png',
        link: 'https://www.meetup.com/Prague-Full-stack-Developers-Meetup/messages/boards/thread/52383868',
        width: '200'
      },{
        alt: 'Gamedev.js',
        img: 'partner/gamedevjs.png',
        link: 'https://gamedevjs.pl/',
        width: '160'
      },{
        alt: 'Webstandards',
        img: 'partner/webstandards.png',
        link: 'https://twitter.com/webstandards_ru',
        width: '120'
      },{
        alt: 'React JS Milano',
        img: 'partner/reactjsmilano.png',
        link: 'https://www.meetup.com/it-IT/React-JS-Milano/',
        width: '200'
      },{
        alt: 'RheinNeckarJS',
        img: 'partner/rheinneckarjs.png',
        link: 'https://www.meetup.com/RheinNeckarJS/',
        width: '160'
      },{
        alt: 'GDG Roma Meetup',
        img: 'partner/gdgrome.png',
        link: 'https://www.meetup.com/it-IT/GDG-Roma/',
        width: '200'
      },{
        alt: 'Beerjs Minsk',
        img: 'partner/beerjsminsk.png',
        link: 'https://www.facebook.com/beerjsminsk',
        width: '120'
      },{
        alt: 'FrontSpot',
        img: 'partner/frontspot.png',
        link: 'https://www.youtube.com/channel/UCucNbfGSH2RN2SD_VhDi2Uw',
        width: '120'
      },{
        alt: 'Web Not Bombs',
        img: 'partner/webnotbombs.png',
        link: 'https://www.facebook.com/groups/webnotbombs/',
        width: '120'
      },{
        alt: 'FRONTEND RHEINMAIN',
        img: 'partner/frontendrheinmain.png?v=2',
        link: 'https://frontend-rheinmain.de/ferm/meetups.html#partner',
        width: '180'
      },{
        alt: 'BonnJS',
        img: 'partner/bonnjs.png?v=2',
        link: 'https://www.meetup.com/de-DE/BonnJS/',
        width: '180'
      },{
        alt: 'React Barcamp',
        img: 'partner/reactbarcamp.png?v=2',
        link: 'https://react-barcamp.de/',
        width: '120'
      },{
        alt: 'ReactNSK',
        img: 'partner/reactnsk.png',
        link: 'https://www.meetup.com/reactnsk/',
        width: '120'
      },{
        alt: 'Unicorns In Tech',
        img: 'partner/uit.png',
        link: 'https://www.unicornsintech.com/',
        width: '240'
      },{
        alt: 'LGBT+ Tech Week',
        img: 'partner/bltw.png',
        link: 'https://www.unicornsintech.com/berlin-lgbt-tech-week',
        width: '180'
      }
    ]
  }
]

talks: [
  {
    title: 'Powering Code Reuse with Context and Render Props',
    name: 'Forbes Lindesay',
    place: 'Threads, UK',
    label: 'Patterns',
    labelColor: 'green',
    text: "React's context API has always been labelled as experimental, but from the advent of Redux it has been used in all the most exciting react libraries. It's about to become a stabilised feature so now is the perfect time to learn the new context API.
Combining the context API and render props lets gives you unprecedented power to cleanly reuse code across components. It even plays well with TypeScript and Flow. This talk will explain how context and render props work and give you some ideas of how to use them to simplify your own code."
  },{
    title: 'Starter Kit: GraphQL Boilerplates',
    name: 'Manjula Dube',
    place: 'Marley Spoon, Germany',
    label: 'GraphQL',
    labelColor: 'red',
    text: 'At some point when you often start with GraphQL you often think how do I even start integrating to my frontend tech stack with GraphQL. The talk is going to be all about explaining a boilerplate available from basic to advanced level. This is one of the open source project I am working with Graphcool team as an open source developer'
  },{
    title: "Structure Your App's Story With Sagas and Selectors",
    name: 'Rebecca Hill',
    place: 'WeTransfer, The Netherlands',
    label: 'State',
    labelColor: 'green',
    text: 'As apps begin to scale, many developers find themselves asking the question - but where does all the hard stuff go? The complicated data manipulation, the validation, the process flow of our apps. In other words, the business logic. If React is designed for the view layer, and we’re using Redux or something similar for the state, then where does the business logic go? This talk looks at the different options and tries to answer that question.'
  },{
    title: 'Navigating the hype-driven frontend development world without going insane',
    name: 'Kitze',
    place: 'ReactAcademy, Macedonia',
    label: 'Hype',
    labelColor: 'red',
    text: "The obsession to always move on to the latest and greatest, and the fear of missing out while working with something that's older than a few months is currently dominating the dev world.
Do you have enough time to learn the latest version of your favourite library or framework? Will this leave enough time if you need to learn something new? Should you stick with what you know? Should you forget about what you are using and start learning something new? What are other front-end developers using? Should you follow the crowd? This is a problem that everyone struggles with. So many decisions to make, but Kitze will help you find the answers."
  },{
    title: 'Feature Driven Architecture',
    name: 'Oleg Isonen',
    place: 'Webflow, Germany',
    label: 'Architecture',
    labelColor: 'violet',
    text: 'Large applications cannot be structured the same way as small applications. Many good decisions you make for a small application suddenly become bad once it grows in code and organization size. Let me walk you through a number of challenges and good decisions for scalable applications.'
  },{
    title: 'Designing React Native Modules For Every Platform',
    name: 'Vincent Riemer',
    place: 'Symantec, USA',
    label: 'React Native',
    labelColor: 'blue',
    text: ''
  },{
    title: "Secrets to a successful design system",
    name: 'Monica Lent',
    place: 'SumUp, Germany',
    label: 'Design',
    labelColor: 'lgreen',
    text: "Inconsistent UI is the enemy of developers and designers alike. And while design systems are a modern and scalable way to solve this challenge, implementing one is not as straightforward as it might seem: from getting buy-in from management to picking your tech stack, rolling it out, and releasing changes to multiple apps — there are a lot of things that can go wrong. In this talk, you'll learn how to pitch a design system to your boss, rarely discussed technical caveats and challenges, and how to set your design system up for success from the start.'"
  },{
    title: 'Tip top testing in JavaScript',
    name: 'Jack Franklin',
    place: 'Thread, UK',
    label: 'Testing',
    labelColor: 'yellow',
    text: "In this talk we'll dive into the approaches and strategies needed to create a great unit test environment for your JavaScript and React applications. We'll examine what makes the perfect test, what to avoid, and how to use more complex features like mocks and spies to enable you to write tests more easily. We'll also look at some of the common pitfalls and mistakes people make that can really begin to hurt you as your test suite grows."
  },{
    title: 'Abstracting the business away with React+Redux',
    name: 'Elianne Schutze',
    place: 'Trainline, UK',
    label: 'Architecture',
    labelColor: 'violet',
    text: "So you learned React, you tried the counter example, you built a To-Do app and graduated to using a third party API. Congrats! You're a React dev, but what happens next? Let's talk about how React fares in the real world when 'the business' gets involved."
  },{
    title: 'Type systems & props design - exploring PropTypes, TypeScript, Flow & Reason',
    name: 'Nik Graf',
    place: 'Freelance, Austria',
    label: 'Reason',
    labelColor: 'lred',
    text: "Badly designed props can lead to components that are frustrating to use. While there are a couple patterns to make components more pleasant to use, ultimately it needs a type system in combination with a good editor integration for an even better developer experience. Yet not all type systems are the same. They offer different features and therefore lead to different experiences.
In this talk we explore and compare PropTypes, TypeScript, Flow & Reason to cover use-cases like enums or tagged unions for component props."
  },{
    title: 'The Lonely and Dark Road to Styling in React',
    name: 'Sara Vieira',
    place: 'YLDio, Europe',
    label: 'CSS in JS',
    labelColor: 'lgreen',
    text: "CSS is hard !I made a living out of it being hard but when React was introduced we had a whole new level of fighting over CSS. There are so many ways to approach it and so many tradeoffs one can do when choosing the better approach that a talk that will go over these options is more than necessary. Let's walk this road thogheter and I promise it will all be fine and you will leave with an ideia of type of styling is better for each project. Hint: There is no perfect way..."
  },{
    title: 'Framer X Inside Out',
    name: 'Artem Riasnianskyi',
    place: 'Framer X, The Netherlands',
    label: 'Case studies',
    labelColor: 'lred',
    text: "Framer X is an advanced interactive design tool, powered by React. In Framer X, you can use actual React components in your design, bringing Code and Design together in a completely new way. We’ll talk about the challenges we encountered while creating Framer X. From how to make a performant graphics editor to building a dynamic component loader."
  },{
    title: 'Optimizing the Critical Rendering Path in React',
    name: 'Alex Moldovan',
    place: 'TeleportHQ, Romania',
    label: 'Performance',
    labelColor: 'yellow',
    text: "One of the crucial elements of performance is to ship relevant content to your users as soon as possible. But in modern web applications, figuring out what to ship and what to prioritize can be hard. Framework driven applications have the big disadvantage of being pretty heavy for the initial load. We will start from understanding how the browser works, then we will explain what the critical rendering path is and how we can optimize it. Expect a talk full of valuable resources and ideas that one can use to improve the performance of a modern web application, with a case study on a React powered application."
  },{
    title: 'Insights from building rich animated experiences in React',
    name: 'Jeremias Menichelli',
    place: 'Typeform, Spain',
    label: 'Animations',
    labelColor: 'violet',
    text: "Have you ever wondered why good performance is so hard to achieve in heavy animated web applications?
This talk is a practical retrospective on the discoveries, the pains and the journey that led me to build reliable bulletproof animations and transitions in real life production projects."
  },{
    title: 'Writing your own React Renderer',
    name: 'Raphael Amorim',
    place: 'GoDaddy, Brazil',
    label: 'Deep dive',
    labelColor: 'red',
    text: "Talk about reconciler, life cycles, and custom-renderer. The idea is to introduce how to create a custom renderer and how the reconciler handles elements, components, and instances."
  },{
    title: 'Troubleshooting a slow app, a practical guide to great React Native performance',
    name: 'Jean-Rémi Beaudoin',
    place: 'Theodo, UK',
    label: 'Performance',
    labelColor: 'yellow',
    text: "React Native is amazing at helping you deliver in production live apps very quickly. But to get there, you sometimes have to cut corners. Once you have a successful app loved by thousands of users, you start to wonder how to tackle performance issues. Figuring out where to start can be tricky.
This will be a practical guide about tools that can help you identify bottlenecks and quickly find ways to increase your app’s performance."
  },{
    title: 'So you want to use React Native in your mobile app?',
    name: 'Karan Thakkar',
    place: 'Skyscanner, UK',
    label: 'React Native',
    labelColor: 'blue',
    text: "In this talk, Karan will share his learnings from working on the React Native infrastructure at Skyscanner. These are concepts, issues and roadblocks that a developer would encounter in their journey of integrating React Native in a brownfield app. Knowing these ahead of time would help folks take the right decisions when building their own React Native infrastructure."
  },{
    title: 'Building A Large Scale React Native App',
    name: 'Raphael Eidus',
    place: 'HuffPost, USA',
    label: 'React Native',
    labelColor: 'blue',
    text: "At HuffPost we just finished rebuilding our main android news app in React Native. Explore some of the decisions we made about our code base and how those decisions impacted the success of the project and its future potential. Covering the React Native Bridge, State Management, Data Persistence, Offline Experiences, Asynchronous Tasks, Testing, and more. Attendees of this talk should be be able to make an informed decision at the end of the talk about whether React Native would be useful in their next project in addition to knowing how to avoid common problems."
  },{
    title: 'Using SVG in React Native',
    name: 'Ori Harel',
    place: 'Capriza, Israel',
    label: 'React Native',
    labelColor: 'blue',
    text: "Vector graphics is in fact the best way to provide great visualization and interaction combined. It exist on all platforms in some way or form, so it's just natural to use it in React Native. In this talk, I'll show you how I integrated the use of SVG with the opinionated component and state system of React, but in the same time keeping things highly performant when interacting with the UI thread - a topic a lot of developers are struggling with."
  }
]

schedule: [
  {
    tab: 'West hall',
    list: [
      {
        time: '8:20',
        title: 'Registration starts'
      },{
        time: '9:10',
        title: 'Conference openning'
      },{
        time: '9:20',
        title: 'The New Hotness: An Exploration of Reacts Exciting New Features',
        speaker: 'Ken Wheeler',
        from: 'Formidable, USA',
        text: ''
      },{
        time: '10:00',
        title: 'Powering Code Reuse with Context and Render Props',
        speaker: 'Forbes Lindsay',
        from: 'Threads, UK',
        text: "React's context API has always been labelled as experimental, but from the advent of Redux it has been used in all the most exciting react libraries. It's about to become a stabilised feature so now is the perfect time to learn the new context API. Combining the context API and render props lets gives you unprecedented power to cleanly reuse code across components. It even plays well with TypeScript and Flow. This talk will explain how context and render props work and give you some ideas of how to use them to simplify your own code."
      },{
        time: '10:30',
        title: 'Feature Driven Architecture',
        speaker: 'Oleg Isonen',
        from: 'Webflow, Germany',
        text: 'Large applications cannot be structured the same way as small applications. Many good decisions you make for a small application suddenly become bad once it grows in code and organization size. Let me walk you through a number of challenges and good decisions for scalable applications.'
      },{
        time: '11:00',
        title: 'Coffee break'
      },{
        time: '11:30',
        title: 'Secrets to a Successful Design System',
        speaker: 'Monica Lent',
        from: 'SumUp, Germany',
        text: "Inconsistent UI is the enemy of developers and designers alike. And while design systems are a modern and scalable way to solve this challenge, implementing one is not as straightforward as it might seem: from getting buy-in from management to picking your tech stack, rolling it out, and releasing changes to multiple apps — there are a lot of things that can go wrong. In this talk, you'll learn how to pitch a design system to your boss, rarely discussed technical caveats and challenges, and how to set your design system up for success from the start."
      },{
        time: '12:00',
        title: 'Tip Top Testing in JavaScript',
        speaker: 'Jack Franklin',
        from: 'Thread, UK',
        text: "In this talk we'll dive into the approaches and strategies needed to create a great unit test environment for your JavaScript and React applications. We'll examine what makes the perfect test, what to avoid, and how to use more complex features like mocks and spies to enable you to write tests more easily. We'll also look at some of the common pitfalls and mistakes people make that can really begin to hurt you as your test suite grows."
      },{
        time: '12:30',
        title: 'Lightning talks',
        lightningTalsList: [{
          title: 'Evolution of UI/UX in blockchain',
          speaker: 'Max Kordek',
          from: 'Lisk, Germany',
          text: 'In order to achieve mainstream adoption, blockchain technology must rapidly accelerate its user-facing tools. At Lisk, we’re dedicated to advancing the evolution of UI/UX design to empower developers and entrepreneurs to unlock the technologies vast potential.'
        }, {
          title: 'Breaking Down Barriers, Together!',
          speaker: 'Jamie Szymkowiak',
          from: 'Signavio, Germany',
          text: 'Jamie will highlight some of the common barriers we face as underrepresented people in the tech sector and how we - as a collective - can push for positive change that benefits everyone.'
        }, {
          title: 'Milliseconds Matter',
          speaker: 'Bård Farstad',
          from: 'Crystallize, Norway',
          text: 'In this talk Bård shares strategies and tactics for going milliseconds hunting. Pointers to launching a React App with global latency and scalability as a priority.'
        }, {
          title: 'Onboarding Mobile Developers to the Strange World of JS and React (Native)',
          speaker: 'Denis Washington',
          from: 'Futurice, Germany',
          text: 'Changing market demands cause some native mobile developers to jump into developing React  (Native) apps, but the fundamentally different mindset and workflow in the JS/React ecosystem can easily make them feel like on another planet. In this talk, Futurice share their learnings on how React developers can effectively help their mobile colleagues get acclimatised when working together in the world of React.'
        }, {
          title: '3D Components in React Application',
          speaker: 'Denys Periel',
          from: 'Evolution Gaming, Netherlands',
          text: ''
        }]
      },{
        time: '13:00',
        title: 'Lunch & networking'
      },{
        time: '14:00',
        title: 'GitNation Open Source Stage'
      },{
        time: '14:30',
        title: 'Navigating the Hype-Driven Frontend Development World Without Going Insane',
        speaker: 'Kitze',
        from: 'ReactAcademy, Macedonia',
        text: "The obsession to always move on to the latest and greatest, and the fear of missing out while working with something that's older than a few months is currently dominating the dev world.
        Do you have enough time to learn the latest version of your favourite library or framework? Will this leave enough time if you need to learn something new? Should you stick with what you know? Should you forget about what you are using and start learning something new? What are other front-end developers using? Should you follow the crowd? This is a problem that everyone struggles with. So many decisions to make, but Kitze will help you find the answers."
      },{
        time: '15:00',
        title: 'Writing Your Own React Renderer',
        speaker: 'Raphael Amorim',
        from: 'GoDaddy, Brazil',
        text: "Talk about reconciler, life cycles, and custom-renderer. The idea is to introduce how to create a custom renderer and how the reconciler handles elements, components, and instances."
      },{
        time: '15:30',
        title: "Structure Your App's Story With Sagas and Selectors",
        speaker: 'Rebecca Hill',
        from: 'WeTransfer, The Netherlands',
        text: "As apps begin to scale, many developers find themselves asking the question - but where does all the hard stuff go? The complicated data manipulation, the validation, the process flow of our apps. In other words, the business logic. If React is designed for the view layer, and we’re using Redux or something similar for the state, then where does the business logic go? This talk looks at the different options and tries to answer that question."
      },{
        time: '16:00',
        title: 'Coffee break'
      },{
        time: '16:30',
        title: 'Optimizing the Critical Rendering Path in React',
        speaker: 'Alex Moldovan',
        from: 'TeleportHQ, Romania',
        text: "One of the crucial elements of performance is to ship relevant content to your users as soon as possible. But in modern web applications, figuring out what to ship and what to prioritize can be hard. Framework driven applications have the big disadvantage of being pretty heavy for the initial load. We will start from understanding how the browser works, then we will explain what the critical rendering path is and how we can optimize it. Expect a talk full of valuable resources and ideas that one can use to improve the performance of a modern web application, with a case study on a React powered application."
      },{
        time: '17:00',
        title: 'The Lonely and Dark Road to Styling in React',
        speaker: 'Sara Vieira',
        from: 'YLDio, Europe',
        text: "CSS is hard !I made a living out of it being hard but when React was introduced we had a whole new level of fighting over CSS. There are so many ways to approach it and so many tradeoffs one can do when choosing the better approach that a talk that will go over these options is more than necessary. Let's walk this road thogheter and I promise it will all be fine and you will leave with an ideia of type of styling is better for each project. Hint: There is no perfect way..."
      },{
        time: '17:30',
        title: 'Closing of day programme'
      },{
        time: '18:00',
        title: '1.5h break (outside venue)'
      },{
        time: '19:30',
        title: 'Party starts'
      },{
        time: '20:00',
        title: '<a href="https://smoosh.fun/" target="_blank">#componentDidSmoosh</a> Comedy Show'
      },{
        time: '21:00',
        title: 'DJ Mila Chiral & VJ Kalma'
      },{
        time: '22:30',
        title: 'Party ends'
      }
    ]
  },{
    tab: 'East hall',
    list: [
      {
        time: '10:00',
        title: 'Designing React Native Modules For Every Platform',
        speaker: 'Vincent Riemer',
        text: "React Native took the world by storm with its decoupled approach to connecting Native and JavaScript code, but most code written for it is designed to assume the existence of only two platforms: iOS and Android.<br> In this talk, we'll do a deep dive into how React Native and Metro goes about resolving platform specific code, common patterns for separating platform-specific code, and look at those same patterns from the perspective of a platform developer to see how we can make them more resilient to new & upcoming platforms."
      },{
        time: '10:30',
        title: 'Type Systems & Props Design - Exploring PropTypes, TypeScript, Flow & Reason',
        speaker: 'Nik Graf',
        from: 'Freelance, Austria',
        text: 'Badly designed props can lead to components that are frustrating to use. While there are a couple patterns to make components more pleasant to use, ultimately it needs a type system in combination with a good editor integration for an even better developer experience. Yet not all type systems are the same. They offer different features and therefore lead to different experiences.'
      },{
        time: '11:00',
        title: 'Coffee Break'
      },{
        time: '11:30',
        title: 'Troubleshooting a slow app, a practical guide to great React Native performance',
        speaker: 'Jean-Remi Beaudoin',
        from: 'Theodo, UK',
        text: "React Native is amazing at helping you deliver in production live apps very quickly. But to get there, you sometimes have to cut corners. Once you have a successful app loved by thousands of users, you start to wonder how to tackle performance issues. Figuring out where to start can be tricky.
This will be a practical guide about tools that can help you identify bottlenecks and quickly find ways to increase your app’s performance."

      },{
        time: '12:00',
        title: 'So You Want to Use React Native in Your Mobile App?',
        speaker: 'Karan Thakkar',
        from: 'Skyscanner, UK',
        text: "In this talk, Karan will share his learnings from working on the React Native infrastructure at Skyscanner. These are concepts, issues and roadblocks that a developer would encounter in their journey of integrating React Native in a brownfield app. Knowing these ahead of time would help folks take the right decisions when building their own React Native infrastructure."
      },{
        time: '12:30',
        title: 'Starter Kit: GraphQL Boilerplates',
        speaker: 'Manjula Dube',
        from: 'Marley Spoon, Germany',
        text: "At some point when you often start with GraphQL you often think how do I even start integrating to my frontend tech stack with GraphQL. The talk is going to be all about explaining a boilerplate available from basic to advanced level. This is one of the open source project I am working with Graphcool team as an open source developer. "
      },{
        time: '13:00',
        title: 'Lunch & Networking'
      },{
        time: '14:30',
        title: 'Building A Large Scale React Native App',
        speaker: 'Raphael Eidus',
        from: 'HuffPost, USA',
        text: "At HuffPost we just finished rebuilding our main android news app in React Native. Explore some of the decisions we made about our code base and how those decisions impacted the success of the project and its future potential. Covering the React Native Bridge, State Management, Data Persistence, Offline Experiences, Asynchronous Tasks, Testing, and more. Attendees of this talk should be be able to make an informed decision at the end of the talk about whether React Native would be useful in their next project in addition to knowing how to avoid common problems."
      },{
        time: '15:00',
        title: 'Using SVG in React Native',
        speaker: 'Ori Harel',
        from: 'Capriza, Israel',
        text: "Vector graphics is in fact the best way to provide great visualization and interaction combined. It exist on all platforms in some way or form, so it's just natural to use it in React Native. In this talk, I'll show you how I integrated the use of SVG with the opinionated component and state system of React, but in the same time keeping things highly performant when interacting with the UI thread - a topic a lot of developers are struggling with."
      },{
        time: '15:30',
        title: 'Abstracting the Business Away with React+Redux',
        speaker: 'Elianne Schutze',
        from: 'Trainline, UK',
        text: "So you learned React, you tried the counter example, you built a To-Do app and graduated to using a third party API. Congrats! You're a React dev, but what happens next? Let's talk about how React fares in the real world when 'the business' gets involved."
      },{
        time: '16:00',
        title: 'Coffee Break'
      },{
        time: '16:30',
        title: 'Framer X Inside Out',
        speaker: 'Artem Riasnianskyi',
        from: 'Framer X, The Netherlands',
        text: "Framer X is an advanced interactive design tool, powered by React. In Framer X, you can use actual React components in your design, bringing Code and Design together in a completely new way. We’ll talk about the challenges we encountered while creating Framer X. From how to make a performant graphics editor to building a dynamic component loader."

      },{
        time: '17:00',
        title: 'Insights from Building Rich Animated Experiences in React',
        speaker: 'Jeremias Menichelli',
        from: 'Typeform, Spain',
        text: "Have you ever wondered why good performance is so hard to achieve in heavy animated web applications?
This talk is a practical retrospective on the discoveries, the pains and the journey that led me to build reliable bulletproof animations and transitions in real life production projects."
      },

    ]
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="main-page js-main-page">
	{% include "partials/_header.html" %}
	{% include "partials/_hero.html" %}
	{% include "partials/_welcome.html" %}
	{% include "partials/_video.html" %}
	{% include "partials/_speakers.html" %}
	{% include "partials/_location.html" %}
	{% include "partials/_city.html" %}
	{# {% include "partials/_talks.html" %} } #}
	{# {% include "partials/_schedule.html" %} #}
	{% include "partials/_workshops.html" %}
	{# {% include "partials/_fun.html" %} #}
	{% include "partials/_sponsors.html" %}
	{% include "partials/_experience.html" %}
	{% include "partials/_footer.html" %}
</div>
{% endblock %}
