---
logoPathToIntro: true

pageKey: main

---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="main-page js-main-page">
  {% if pages[pageKey].pageSections.sections.header %}
    {% include "partials/_header.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.hero %}
    {% include "partials/_hero.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.welcome %}
    {% include "partials/_welcome.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.video %}
    {% include "partials/_video.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.speakers %}
    {% include "partials/_speakers.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.location %}
    {% include "partials/_location.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.city %}
    {% include "partials/_city.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.talks %}
    {% include "partials/_talks.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.schedule %}
    {% include "partials/_schedule.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.workshops %}
    {% include "partials/_workshops.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.fun %}
    {% include "partials/_fun.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.sponsors %}
    {% include "partials/_sponsors.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.experience %}
    {% include "partials/_experience.html" %}
  {% endif %}
  {% if pages[pageKey].pageSections.sections.footer %}
    {% include "partials/_footer.html" %}
  {% endif %}
</div>
{% endblock %}
