---

pageKey: jobs

innerPage: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="inner-page react-jobs">
	{% include "partials/_header.html" %}
	{% include "partials/_inner-jobs.html" %}
  <section class="section section--inner">
    <div class="section__content">
      {% for job in jobs %}
        {% include "partials/jobs/_item.html" %}
      {% endfor %}
    </div>
  </section>
	{% include "partials/_sponsors-jobs.html" %}
	{% include "partials/_footer.html" %}
</div>
{% endblock %}
