---
pageKey: workshops

innerPage: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="inner-page">
	{% include "partials/_header.html" %}
	{% include "partials/_inner-workshops.html" %}
	{% include "partials/workshops/_modern-react.html" %}
	{% include "partials/workshops/_graph-ql.html" %}
	{% include "partials/workshops/_typescript.html" %}
	{% include "partials/workshops/_design-systems.html" %}
	{% include "partials/workshops/_react-native-graphql.html" %}
	{% include "partials/_inner-experience-workshops.html" %}
	{% include "partials/_footer.html" %}
</div>
{% endblock %}
