<section class="section section--inner js-section">
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          Develop
        </p>
        <p>
          Document
        </p>
        <p>
          Reuse
        </p>
      </div>
      <h2 class="js-title" id="reason">Design Systems for React Developers</h2>
      <p class="paragraph">
        by Andrey Okonetchnikov & Artem Sapegin. December 5.
      </p>
      <p class="paragraph">
        Development of digital products is a complex process that involves multiple stakeholders and roles: managers, designers, engineers, QA, and customers. This increases the communication overhead, slows down the process, and oftentimes results and less than ideal user experience.<br /><br />
- How to communicate design ideas between different stakeholders effectively?<br />
- How to deliver consistent UI without constant supervising?<br />
- How to ensure same problems not being solved multiple times?<br /><br />
Design systems offer a systematic approach to the process of product creation. This approach establishes an organization-wide design language that can be backed into a UI library and the styleguide and becomes the single source of truth for the entire organization. Component libraries and living styleguides encourage reuse, promote consistency, improve team productivity, help to identify common patterns and solve similar problems only once.
      </p>
      <h3>What's included</h3>
      <ol>
        <li>Understand what a design system is and how to start thinking in design constraints</li>
        <li>Analyze and split your UI into small reusable components</li>
        <li>Setup an environment to create components in isolation</li>
        <li>Create a living style guide and start building a component library</li>
        <li>Structure your application around components</li>
        <li>Write maintainable styles for your components based on the design system</li>
        <li>and more...</li>
      </ol>
      <h3>Prerequisites</h3>
      <p class="paragraph-sm">
        To attend this workshop you need to be familiar with the basics of React, as well as most of the new features in ES2015.
      </p>
    </div>
  </div>
</section>
