<section class="section section--inner js-section">
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          Forget
        </p>
        <p>
          the
        </p>
        <p>
          REST
        </p>
      </div>
      <h2 class="js-title" id="graph-ql">Advanced GraphQL Workshop</h2>
      <p class="paragraph">
        by Kitze, React Academy. December 5.
      </p>
      <p class="paragraph">
This one-day workshop will teach you everything you need to know to incorporate GraphQL into your application. During the first half of the workshop, we'll explain the basics of a GraphQL and we’re gonna build a GraphQL server, covering best practices for architecting your schema, error handling, authentication, and permission layers.<br />
In the second half of the workshop, we’ll connect our GraphQL server to a React application with Apollo Client. We’ll break down the modular architecture of the client and teach you how to set everything up and use queries and mutations. We’ll show a few different approaches for working with Apollo: Higher Order Components, Render Props, and hooks. Throughout the course of the workshop, you’ll learn practical tips for using GraphQL in production.
      </p>
      <h3>What's included</h3>
      <ol>
        <li>Basics of GraphQL</li>
        <li>Set up a GraphQL backend</li>
        <li>Setup authentication and permissions layers to secure your GraphQL APIs</li>
        <li>Using GraphiQL to explore and test your GraphQL API</li>
        <li>Setting up a GraphQL client with Apollo</li>
        <li>Fetching and rendering data in your react app with GraphQL queries (using HOCs, render props, hooks)</li>
        <li>Inserting data with GraphQL mutations</li>
        <li>Updating and deleting data with GraphQL mutations</li>
        <li>Updating the store after a mutation</li>
        <li>Optimistic updates</li>
      </ol>
      <h3>Prerequisites</h3>
      <p class="paragraph-sm">
        To attend this workshop you need to be familiar with the basics of React, as well as most of the new features in ES2015.
      </p>
      <p class="paragraph-sm">
        Want to know more about the trainer? Check <a href="https://www.reactacademy.io/workshop/reactday-berlin-2018/"
                                                      target="_blank">React Academy website</a>.
      </p>
    </div>
  </div>

</section>
