<section class="section section--inner js-section" >
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          Bring
        </p>
        <p>
          your
        </p>
        <p>
          laptop!
        </p>
      </div>
      <h2 class="js-title" id="react-advanced">Modern React Workshop</h2>
      <p class="paragraph">
        by Max Stoiber. December 4 and 5.
      </p>
      <p class="paragraph">
        One of the most popular workshops from React Amsterdam 2019.
      </p>
      <p class="paragraph">
        After some years of silence, React team had recently landed a number of new additions to it's library enabling application developers to optimize their code both for better performance and maintainability.<br />
        Max will guide your through emerging patterns and show you by example how you can start applying the new best practices in your production apps.
      </p>
      <h3>What's included</h3>
      <ol>
        <li>Using React Hooks</li>
        <li>Getting started Concurrent React (Suspense and Time Slicing, previously called "Async React")</li>
        <li>Why do React.lazy and React.memo exist?</li>
        <li>Utilising Compound Components</li>
        <li>Render Props</li>
        <li>Performance Profiling with the new React DevTools</li>
        <li>and more...</li>
      </ol>
      <h3>Prerequisites</h3>
      <p class="paragraph-sm">
        To attend this workshop you need to be familiar with the basics of React, as well as most of the new features in ES2015.
      </p>
      <p class="paragraph-sm">
        Learn more about the trainer, author of Styled Components <a href="https://mxstbr.com"
                                                      target="_blank">on his website</a>.
      </p>
    </div>
  </div>

</section>
