<section class="section section--inner js-section">
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          <!-- The -->
        </p>
        <p>
          <!-- next -->
        </p>
        <p>
          <!-- JavaScript -->
        </p>
      </div>
      <h2 class="js-title" id="reason">Building Whatsapp in a day with React Native and GraphQL</h2>
      <p class="paragraph">
        by Vladimir Novick. December 4.
      </p>
      <p class="paragraph">
        In this full day workshop we will go through the process of creating Whatsapp app in React Native from scratch. We will talk about how to get started, structure our app and create proper navigation workflow, style our screens and create compelling animations. But we will not stop there. Not only React Native is changing mobile ecosystem nowadays, GraphQL is also an important part of how we connect to our backend.
      </p>
      <p class="paragraph">
        We will go through GraphQL basics and use it in our Whatsapp app to connect to GraphQL endpoint which we will also define and create during workshop by using free and open source Hasura GraphQL engine. Workshop will give you the ultimate experience of creating React Native app from scratch with GraphQL API.
      </p>
      <h3>Prerequisites</h3>
      <p class="paragraph-sm">
        Familiarity with React, JavaScript and modern syntax features (ES2015).
      </p>
    </div>
  </div>
</section>
