<section class="section section--inner js-section">
  <div class="section__content">
    <div class="article">
      <div class="article__left">
        <p>
          The
        </p>
        <p>
          next
        </p>
        <p>
          JavaScript
        </p>
      </div>
      <h2 class="js-title" id="reason">TypeScript Workshop</h2>
      <p class="paragraph">
        by Tejas Kumar, your local React hero. December 5.
      </p>
      <p class="paragraph">
        TypeScript is taking the web platform by storm, mainly because it is so syntactically similar to JavaScript, but comes with powerful scalability features that create more robust products. In this workshop, we will examine an existing JavaScript codebase, port it over to TypeScript, and refactor parts of it to see the value TypeScript can provide.
      </p>
      <h3>What's included</h3>
      <ol>
        <li>Intro to TypeScript and types</li>
        <li>The basics: Primitives, interfaces, classes, generics.</li>
        <li>Practical take on JS project migration</li>
        <li>"any", "never", and "unknown". Your buddies for life!</li>
        <li>Real-life benefits - easy refactorings, autocomplete</li>
        <li>and more...</li>
      </ol>
      <h3>Prerequisites</h3>
      <p class="paragraph-sm">
        Familiarity with React, JavaScript and modern syntax features (ES2015).
      </p>
    </div>
  </div>
</section>
