<section class="city section">
  <div class="section__row">
    <div class="section__col-1"></div>
    <div class="section__col-2 theme-bg">
      <div class="city__controls">
        <button class="slider-btn slider-prev js-prev-slide">{{mixins.icon('arrow')}}</button>
        <button class="slider-btn slider-next js-next-slide">{{mixins.icon('arrow')}}</button>
      </div>
      <div class="section__container">
        <h3 class="city__title white-color">{{ pagesPieceOfTexts.city__title | safe }}</h3>
        <div class="text white-color">
          <p>
            {{ pagesPieceOfTexts.city__text | safe }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="city__slider js-city-slider">
      {{ pagesPieceOfTexts.city__slides_unsafe | safe }}
    </div>
  </div>
</section>
