<section class="experience section">
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru"></div>
    <div class="section__col-2">
      <div class="section__container section__container--l">
        <div class="section__title experience__title">
          <h2 class="section-title js-clip" id="experience">We’re no strangers to Berlin’s scene</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="experience__tweets">
      <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <div class="twitts-list">
        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p dir="ltr" lang="en">Look out <a href="https://twitter.com/hashtag/HelloWorld?src=hash&amp;ref_src=twsrc%5Etfw">#HelloWorld</a>, drum machines are the new kids in town! <a href="https://twitter.com/ken_wheeler?ref_src=twsrc%5Etfw">@ken_wheeler</a> showing how hooks are done at <a href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a> <a href="https://t.co/Z7BgS4tCjv">pic.twitter.com/Z7BgS4tCjv</a></p>&mdash; Maximilian Lindsey (@lindseydigital) <a href="https://twitter.com/lindseydigital/status/1068429315388436480?ref_src=twsrc%5Etfw">November 30, 2018</a></blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Damn, the quality of talks at <a href="https://twitter.com/hashtag/reactdayberlin?src=hash&amp;ref_src=twsrc%5Etfw">#reactdayberlin</a> is absolutely incredible.<br><br>And every conf should have <a href="https://twitter.com/jevakallio?ref_src=twsrc%5Etfw">@jevakallio</a> as MC, that man is a national treasure</p>&mdash; Tomasz Łakomy (@tlakomy) <a href="https://twitter.com/tlakomy/status/1068468721386250240?ref_src=twsrc%5Etfw">November 30, 2018</a></blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Seen awesome talks so far on hooks, context api, design systems, effective testing &amp; feature driven architecture 🔥 plus a few cool lightening talks ⚡<br><br>Loving the <a href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a> format of 30 min talks, keeps each talk fresh and to the point 🇩🇪👊🏻 ^CR</p>&mdash; OpenTable Tech UK (@OpenTableTechUK) <a href="https://twitter.com/OpenTableTechUK/status/1068491811910533122?ref_src=twsrc%5Etfw">November 30, 2018</a></blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/reactdayberlin?src=hash&amp;ref_src=twsrc%5Etfw">#reactdayberlin</a> Open Source Stage is such a great idea! Would love to see it spreading around conferences. Also all presented projects are really cool so far!</p>&mdash; Sergey Rubanov (@chicoxyzzy) <a href="https://twitter.com/chicoxyzzy/status/1068494344498421760?ref_src=twsrc%5Etfw">November 30, 2018</a></blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">🔥🔥🔥 <a href="https://twitter.com/thekitze?ref_src=twsrc%5Etfw">@thekitze</a>’s <a href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a> talk is on point. NOMO(re) FOMO. <br><br>You should definitely see it when the recording is online (or rewind the live stream). <a href="https://t.co/HfrWrJtOFU">pic.twitter.com/HfrWrJtOFU</a></p>&mdash; Philipp Spiess (@PhilippSpiess) <a href="https://twitter.com/PhilippSpiess/status/1068504840001724416?ref_src=twsrc%5Etfw">November 30, 2018</a></blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Wow, full room at <a href="https://twitter.com/rebekaka?ref_src=twsrc%5Etfw">@rebekaka</a> at 4 in the afternoon! I love this event! Also, a bit scared now of going on stage in front of sooo many people <a href="https://twitter.com/hashtag/reactdayberlin?src=hash&amp;ref_src=twsrc%5Etfw">#reactdayberlin</a> <a href="https://t.co/V3zLDpoJfk">pic.twitter.com/V3zLDpoJfk</a></p>&mdash; Alex Moldovan (@alexnmoldovan) <a href="https://twitter.com/alexnmoldovan/status/1068519786609438720?ref_src=twsrc%5Etfw">November 30, 2018</a></blockquote>
        </div>

        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I&#39;ve decided to make my first tweet about the event which encourage me to made my own twitter account - thank you <a href="https://twitter.com/reactdayberlin?ref_src=twsrc%5Etfw">@reactdayberlin</a> I had an amazing time helping at the conference place and follow the lectures of incredible people. Hope to be there next year!!</p>&mdash; Sara Rosicki (@sararosicki) <a href="https://twitter.com/sararosicki/status/1068979274177306625?ref_src=twsrc%5Etfw">December 1, 2018</a></blockquote>
        </div>
        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hellofreshdev?ref_src=twsrc%5Etfw">@hellofreshdev</a> team at <a href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a> 💚! <a href="https://t.co/bksLhrYjSw">pic.twitter.com/bksLhrYjSw</a></p>&mdash; José Mussa (@jcmussa) <a href="https://twitter.com/jcmussa/status/1068518872733573120?ref_src=twsrc%5Etfw">November 30, 2018</a></blockquote>
        </div>
        <div class="twitts-list__item">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a href="https://twitter.com/hashtag/ReactDayBerlin?src=hash&amp;ref_src=twsrc%5Etfw">#ReactDayBerlin</a> for allowing me to talk about diversity and inclusion in tech and share some of the successes we&#39;re having at <a href="https://twitter.com/signavio?ref_src=twsrc%5Etfw">@signavio</a> in this area! 💙 <a href="https://t.co/9lkWuCzrPj">pic.twitter.com/9lkWuCzrPj</a></p>&mdash; Jamie Szymkowiak (@jamieszymko) <a href="https://twitter.com/jamieszymko/status/1068502730317156352?ref_src=twsrc%5Etfw">November 30, 2018</a></blockquote>
        </div>
        <div class="twitts-list__item">
          
        </div>
      </div>
    </div>
    <div class="experience__old">
        <a href="/2018/" class="bbtn bbtn--lg">Last year's website</a>
    </div>
  </div>
</section>
