<section class="section fun">
  <div class="section__row">
    <div class="section__col-1 theme-bg" data-jq-clipthru="clipthru"></div>
    <div class="section__col-2">
      <div class="section__container section__container--l">
        <div class="section__title fun__title">
          <h2 class="section-title js-clip">{{ pagesPieceOfTexts.afterparty__title | safe }}</h2>
        </div>
        <!-- <div class="fun__video">
          <iframe class="fun__video-frame js-lazy-image" data-src="https://player.vimeo.com/video/246667237?title=0&byline=0&portrait=0"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div> -->
      </div>
      <div class="section__container section__container--sm">
        <div class="text-lg fun__text">
          {{ pagesPieceOfTexts.afterparty__text | safe }}
        </div>
      </div>
      <!--<div class="section__container section__container&#45;&#45;l">-->
       <!---->
      <!--</div>-->
    </div>
  </div>
  <div class="container">
    <div class="fun__items">
    {% for item in pages.main.pageStatistics.fun %}
      <div class="fun__item">
        <div class="speaker speaker--fun">
          <div class="speaker__header">
            <div class="speaker__avatar">
              <img class="js-lazy-image" data-src="{{ item.avatar.url }}" alt="{{ item.name }}">
            </div>
            <div class="speaker__info">
              {{ item.name }}
              <div class="speaker__company">{{ item.company }}</div>
            </div>
          </div>
          <div class="speaker__text">
            {{ item.bio }}
					</div>

					<ul class="socials">
						<li class="socials__item">
							<a class="socials__link" target="_blank" href="{{ item.twitterUrl }}">
							<svg class="icon icon-twitter"><use xlink:href="img/sprite.svg#icon-twitter"></use></svg>
							</a>
						</li>
						<li class="socials__item">
							<a class="socials__link" target="_blank" href="{{ item.ownSite }}">
								<svg class="icon icon-site"><use xlink:href="img/sprite.svg#icon-site"></use></svg>
							</a>
						</li>
					</ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
