<section class="speakers section js-section">
  <div class="section__row">
    <div class="section__col-1">
    </div>
    <div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">
      <div class="section__container">
        <div class="section__title speakers__title">
          <h2 class="section-title js-clip js-title" id="speakers">{{ pagesPieceOfTexts.speakers__title | safe }}</h2>
        </div>
        <div class="text-lg white-color">
          <p>
            {{ pagesPieceOfTexts.speakers__text | safe }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="speakers__list">
      {% for item in speakers %}
      <div class="speakers__item {{item.tag}}">
        <div class="speaker">
          <div class="speaker__header">
            <div class="speaker__avatar">
              <img data-src="{{item.avatar}}" alt="{{item.name}}" class="js-lazy-image">
            </div>
            <div class="speaker__info">
              <div class="speaker__addition">
                <div class="speaker__label">{{item.label}}</div>
                <ul class="speaker__socials">
                  {% if item.twitter %}
                    <li class="speaker__social"><a href="{{item.twitter}}" target="_blank">{{mixins.icon('twitter')}}</a></li>
                  {% endif %}
                  {% if item.github %}
                    <li class="speaker__social"><a href="{{item.github}}" target="_blank">{{mixins.icon('github')}}</a></li>
                  {% endif %}
                </ul>
              </div>
              <div class="speaker__name">{{item.name}}</div>
              <div class="speaker__company">{{item.company}}</div>
            </div>
          </div>
          <div class="speaker__text">
            {{item.text | safe}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
