<section class="speakers section js-section">
  <div class="section__row">
    <div class="section__col-1">
    </div>
    <div class="section__col-2 theme-bg" data-jq-clipthru="clipthru">
      <div class="section__container">
        <div class="section__title speakers__title">
          <h2 class="section-title js-clip js-title" id="speakers">{{ pagesPieceOfTexts.speakers__title | safe }}</h2>
        </div>
        <div class="text-lg white-color">
          <p>
            {{ pagesPieceOfTexts.speakers__text | safe }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="speakers__list">
      {% for person in speakers[pageKey] %}
      <div class="speakers__item {{person.tag}}">
        <div class="speaker">
          <div class="speaker__header">
            <div class="speaker__avatar">
              <img data-src="{{person.avatar}}" alt="{{person.name}}" class="js-lazy-image">
            </div>
            <div class="speaker__info">
              <div class="speaker__addition">
                <div class="speaker__label">{{person.label}}</div>
                <ul class="speaker__socials">
                  {% for item in person.socials.reverse() %}
                    {% if not (item.icon == 'site') %}
                      <li class="speaker__social"><a href="{{item.link}}" target="_blank">{{mixins.icon(item.icon)}}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="speaker__name">{{person.name}}</div>
              <div class="speaker__company">{{person.company}}</div>
            </div>
          </div>
          <div class="speaker__text">
            {{person.bio | safe}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
