.block-head {
    position: relative;
    display: flex;
    padding-top: 150px;
    padding-bottom: 500px;
    height: 500px;
    // background-image: linear-gradient(to left, #f6f7f9 84%, #230cea 84%);


    // &:after {
    //     content: '';
    //     top: 0;
    //     left: -100%;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background: #230cea;
    // }
}

.block-head__title {
    position: absolute;
    width: 510px;
    font-size: 64px;
    font-weight: bold;
    line-height: 1.41;
    color: #023753;
    margin: 0;
    margin-left: 103px;
    z-index: 10;

    &.clipthru {
        color: #fff;
    }

    @media only screen and (max-width : 768px) {}
}

.block-head__text {
    width: 550px;
    margin: 0;
    margin-left: 600px;
    color: #023753;
    font-size: 16px;
    line-height: 30px;
}